:root{
    --pr-color: #048853;
}

/* Navbar */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3fff4;
}

.navbar{
    z-index: 3;
}

* {
    z-index: 2;
}

.img-accsent{
    z-index: 1;
}

.img-accsent{
    z-index: 1;
}

.navbar-brand{
    font-weight: 700;
    font-size: 20px;
}

.navbar-link{
    font-size: 16px;
}

.navbar-link.active{
    font-weight: 700;
}

.button-primary{
    height: 40px;
    width: 133px;
    background-color: transparent;
    color:white;
    border: none;
    font-weight: 700;
}

.button-secondary{
    height: 40px;
    width: 133px;
    background-color: white;
    color:var(--pr-color);
    border: none;
    font-weight: 700;
}

/* Hero Section */
#hero{
    background: linear-gradient(160deg, var(--pr-color), #000);
    height: 100vh;
    width: 100%;
}

.img-hero {
    height: 100%;
}

.hero-tagline h1{
    color:#fff;
    font-weight: 700;
    font-size: 50px;
    line-height: 72px;
}

.hero-tagline p{
    color:#fff;
    font-size: 16px;
    margin-bottom: 60px;
    margin-top: 20px;
    line-height: 30px;
    width: 80%;
}

.button-lg-primary{
    width: 237px;
    height: 70px;
    background-color: #fff;
    color:var(--pr-color);
    border: none;
    font-size: 18px;
    font-weight: 700;
}